<!DOCTYPE html>
<html>
   <head>
      <title>Still don't see the point</title>
   </head>
   
   <body>
      <h1>Calculated costs</h1>
	  <p>Weight is <%=weight%> oz</p>
	  
	  <p>Letter Type is <%=type%></p>
	  
	  <p>The final cost to send your mail will be $<%=price%></p>
	  
   </body>
</html>